
* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Arial", "sans-serif";
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, sans-serif;
}

section, body {
    margin: 0;
}

.u-sheet {
    margin: 0 auto;
}

.u-image {
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.u-layout {
    flex: 1;
    max-width: 100%;
}

.u-text, .item4-text {
    word-wrap: break-word;
}

/*.section-margin {*/
/*    margin: 0 105px;*/
/*}*/

.u-body {
    line-height: 1.6;
}

.u-btn {
    display: table;
}

.u-center {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-image: url("images/g.jpg");
    min-height: 70px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav {
    background-image: url("images/g.jpg");
    min-height: 70px;
}

#navbar {
    display: flex;
    flex-direction: row;
}

.page-body {
    margin-top: 80px;
}

.content-header-size {
    min-height: 80px;
}

.logo-margin {
    margin: 22px auto 0 0;
}

.content-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.one {
    background-image: url("images/hero-bg.jpg");
    background-position: 50% 0;
    color: white;
}

.full-width {
    width: 1140px;
}

.one-extra {
    display: flex;
}

.margin {
    min-height: 767px;
}

div.margin::before {
    content: '';
    display: table;
}

.item1-margin {
    width: 601px;
    margin: 216px auto 60px 0;
}

.item1 {
    font-family: 'Open Sans',sans-serif;
    display: block;
    align-items: center;
}

.painting, .cleaning, .plumbing {
    flex: 1;
}

.item1-common {
    padding: 30px 30px 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.item1-inner {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 0 auto 0 0;
    display: block;
}

.item1-image {
    width: 80px;
    height: 80px;
}

.gallery11 {
    background-image: url("images/paint-brush.svg");
}

.gallery12 {
    background-image: url("images/cleaning-bucket.svg");
}

.gallery13 {
    background-image: url("images/tap.svg");
}

.item1-clean {
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    margin: 20px 0 0;
}

.house-repair {
    font-size: 3.75rem;
    letter-spacing: 3px;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
    margin: 0;
    line-height: 1.2;
}

.u-service {
    font-family: "Archivo Black";
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    line-height: 1.1;
}

.item1-content-top {
    flex: 1 1 100%;
    padding: 40px 0 0;
    min-height: 250px;
}

.item1-content-middle {
    border: 0 solid white;
    border-top: 11px solid white;
}

.content-middle {
    height: 11px;
    margin: 30px auto 0 0;
}

.item1-content-bottom {
    display: flex;
    flex-direction: row;
}

.two {
    text-align: center;
    min-height: 532px;
}

.two-color {
    color: #111111;
    background-color: #f2f2f2;
}

.item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.u-text-sect3-1{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.125rem;
    margin: 130px 490px 0;
    font-weight: 400;
    line-height: 1.2;
    color: #999999 !important;
}

.u-text-sect3-2 {
    font-weight: 700;
    font-size: 3.125rem;
    width: 780px;
    margin: 20px auto 0;
    line-height: 1.1;
}

.u-text-sect3-3{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    width: 780px;
    margin: 30px auto 0;
}

.book-now {
    border: 1px solid red;
    background-color: red;
    color: white;
    text-decoration: none;
}

.book-now-radius {
    border-radius: 3px !important;
}

.book-now-customize {
    margin: 30px auto 60px;
    padding: 16px 36px;
}

.three {
    min-height: 682px;
}

.item3-margin {
    width: 1014px;
    margin: 60px auto;
}

.item3{
    display: flex;
    flex-direction: row;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.item3-border {
    border: 15px solid white;
}

.right-top {
    padding: 20px 60px 20px 0;
}

.gallery1 {
    background-image: url("images/billionphotos1882993.jpg");
    min-height: 388px;
}

.gallery2 {
    min-height: 388px;
    background-image: url("images/billionphotos1883011.jpg");
}

.left-bottom{
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 20px 60px;
}

.left-bottom > p{
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    margin: 0;
}

.text {
    font-weight: 700;
    font-size: 2.25rem;
}

.need-help-text {
    margin: 0;
}

.text-2 {
    font-weight: 700;
    font-size: 2.05rem;
    color: red;
    margin: 20px 1px 0;
}

.four{
    background-image: url("images/g.jpg");
    margin: 0 auto 0 0;
}

.four-height {
    min-height: 658px;
}

.item4 {
    display: flex;
    flex-direction: row;
}


.item4-left {
    flex: 0 0 45%;
    display: flex;
}

.item4-layout1 {
    padding: 30px 60px;
}

.item4-layout2 {
    padding: 30px 40px;
}

.item4-right {
    flex: 0 0 55%;
    display: flex;
    flex-direction: column;
}

.gallery3 {
    min-height: 658px;
    background-size: cover;
    background-position: 50% 0%;
    background-image: url("images/billionphotos1079319min.png");
}

.text-section-four-top {
    font-weight: 700;
}

.item4-right-middle {
    background-color: red;
    margin: 30px auto 0 0;
    padding: 5px;
    height: 9px;
}

.u-text-1 {
    font-size: 4.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 135px 0 0;
    color: #104e92 !important;
}

.item4-book-now-customize {
    display: table;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    align-self: flex-start;
}

.book-now-margin {
    margin: 20px 0 20px 0;
    padding: 16px 36px;
}

.u-text-2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    margin: 30px 0 0;
}

.five {
    min-height: 475px;
}

.item5, .item5-bottom-item {
    display: flex;
    flex-direction: column;
}

.item5-pic-border {
    background-color: #e71a23;
    height: 83px;
    width: 83px;
    border-radius: 90px;
    display: flex;
    justify-content: center;
}

.item5-pic-border-padding {
    padding: 18px;
}

.diag_painting {
    height: 47px;
    width: 47px;
}

.gallery8 {
    background-image: url("images/painting.svg");
}

.gallery9 {
    background-image: url("images/electric.svg");
}

.gallery10 {
    background-image: url("images/repair.svg");
}

.item5-bottom {
    display: flex;
    flex-direction: row;
}

.item5-layout {
    margin-top: 20px;
    margin-bottom: 60px;
}

.u-text-4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.2;
    font-style: normal;
    margin: 20px 0 0;
}

.u-text-3{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    font-style: italic;
    margin: 20px 0 0;
}

.u-layout-30 {
    padding: 30px;
}

.u-text-service {
    font-size: 3.125rem;
    line-height: 1.1;
    font-weight: 700;
    margin: 60px 831px 0 0;
}


.six {
    color: #ffffff;
    background-color: #104e92;
}

.section-six-height {
    display: flex;
    min-height: 582px;
}

.item6-margin {
    width: 970px;
    margin: 60px auto;
}

.item6 {
    display: flex;
    flex-direction: row;
}

.item6-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.item6-right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section-6 {
    border: 15px solid #104e92;
}

.item6-right-top, .item6-right-bottom {
    display: flex;
    flex-direction: row;
}

.item6-layout {
    padding: 10px;
}

.item6-pic-height-top {
    min-height: 222px;
}

.item6-pic-height-bottom {
    min-height: 230px;
}

.gallery4 {
    background-image: url("images/frg.jpg");
}

.gallery5 {
    background-image: url("images/rg.jpg");
}

.gallery6 {
    background-image: url("images/billionphotos1882993.jpg");
}

.gallery7 {
    background-image: url("images/billionphotos1882951.jpg");
}

.u-size-30 {
    /*display: flex;*/
    flex: 0 0 50%;
    max-width: 50%;
}

.text-about-us {
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.2;
}

.item6-left-text {
    font-size: 6rem;
    line-height: 1;
    margin: 10px 0 0 0;
}

b{
    font-weight: bold;
}

.u-text-seven {
    text-align: center;
}

.u-section-seven {
    display: flex;
    min-height: 454px;
}

.item7 {
    width: 726px;
    margin: 70px auto 70px 207px;
}

.item7-content, .item7-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item7-top {
    flex: 1;
    max-width: 100%;
}

.todo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0;
    font-size: 2.25rem;
    line-height: 1.1;
}

.mission {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.875rem;
    font-weight: 300;
    margin: 30px 0 0;
}

.item7-bottom {
    display: flex;
    flex-direction: column;
}

.item7-bottom-margin {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.call-us {
    background-color: transparent !important;;
    border: 1px solid #3e3e3e !important;
    color: #3e3e3e !important;
}

.u-text-seven {
    font-size: 0.75rem;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 0 0 auto;
    padding: 16px 53px 16px 52px;
}

.u-seven {
    padding: 16px 36px;
}

.u-section-booknow {
    padding-right: 7px;
    padding-top: 0;
    padding-left: 7px;
}

.u-item7 {
    display: flex;
    max-width: 50%;
}

.item7-book-now {
    align-self: flex-end;
}

.item7-call-us {
    align-self: flex-start;
}

.eight-nine {
    background-color: #3e3e3e;
    color: white;
}

div.footer-margin::before {
    content: '';
    display: table;
}

.footer-margin {
    display: flex;
}

.u-sheet-1 {
    min-height: 120px;
}

.footer-text {
    width: 417px;
    margin: 49px auto;
}

.u-small-text {
    text-align: center;
    font-size: 0.875rem;
}

.eight-nine > a {
    color: #abcff7;
}

.nine {
    padding: 16px;
    text-align: center;
    font-size: 0.8rem;
}

p.created-with {
    display: inline-block;
    margin: 20px 0;
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .full-width {
        width: 940px;
    }

    .margin {
        min-height: 632px;
    }

    .content-header-size {
        min-height: 80px;
    }

    .house-repair {
        font-size: 3.625rem;
    }

    .u-service {
        font-size: 5.875rem;
    }

    .item1-margin {
        width: 577px;
    }
    .u-text-sect3-1 {
        margin-left: 390px;
        margin-right: 390px;
    }

    .three {
        min-height: 639px;
    }

    .item3-margin {
        width: 100% !important;
        margin-bottom: 30px;
    }

    .gallery1, .gallery2 {
        min-height: 380px;
    }

    .four {
        min-height: 428px;
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important
    }

    .u-text-1 {
        font-size: 3.75rem;
    }

    .u-text-service {
        margin-right: 631px;
    }

    .section-six-height {
        min-height: 568px;
    }

    .gallery3 {
        min-height: 543px;
    }

    .five {
        min-height: 235px;
    }

    .item6-margin {
        width: 940px;
    }

    .item6-pic-height-top {
        min-height: 215px;
    }

    .item6-pic-height-bottom {
        min-height: 223px;
    }
    .u-section-seven {
        min-height: 429px;
    }

    .item7 {
        width: 731px;
        margin-left: 105px;
    }

    .u-sheet-1 {
        min-height: 99px;
    }
}


@media screen and (min-width: 767px) and (max-width: 991px){
    .full-width {
        width: 720px;
    }

    .one {
        background-position: 34.74% 0;
    }

    .margin {
        min-height: 423px;
    }

    .item1-content-top {
        min-height: 216px;
        padding: 30px 0 0;
    }

    .house-repair {
        font-size: 3rem;
    }

    .u-service {
        font-size: 5rem;
    }

    .item1-margin {
        width: 482px;
    }
    .content-middle {
        height: 9px;
        margin-right: 0 ;
        margin-left: 0;
    }

    .item1-content-middle {
        border-top-width: 9px;
    }
    .u-text-sect3-1 {
        margin-left: 280px;
        margin-right: 280px;
    }
    .u-text-sect3-2, .u-text-sect3-3 {
        width: 720px;
    }

    .three {
        min-height: 490px;
        display: flex;
    }

    .item3 {
        flex-direction: column;
    }
    .item3-margin {
        width: 100% !important;
        margin-left: 0;
        margin-right: 0;
    }
    .right-top {
        padding-right: 30px;
        padding-left: 60px;
    }
    .gallery1, .gallery2 {
        min-height: 380px;
    }
    .left-bottom {
        padding-right: 30px;
    }
    .u-text-1 {
        font-size: 3.125rem;
    }
    .item4-right-middle {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .u-text-2 {
        font-size: 1.125rem;
    }
    .four-height {
        min-height: 301px;
    }
    .gallery3 {
        min-height: 416px;
    }
    .u-text-service {
        margin-right: 411px;
    }
    .five {
        min-height: 174px;
    }
    .item6 {
        flex-direction: column;
    }
    .section-six-height {
        min-height: 924px;
    }
    .item6-left-text {
        font-size: 4.5rem;
    }
    .item6-pic-height-top {
        min-height: 341px;
    }
    .item6-pic-height-bottom {
        min-height: 353px;
    }
    .u-section-seven {
        display: flex;
        min-height: 429px;
    }
    .item7 {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
